# Hugo-specific files
/public/
/resources/_gen/

# Local Hugo server files
hugo.lock.json

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Backup files
*~
